<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pontos Turístico</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap""
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <main class="tourist-spots">
      <section class="tourist-spots-container">
        <h2 class="tourist-spots-title">Adicionar um Ponto Turístico</h2>

        <form action="" class="tourist-spots-form">
          <div class="tourist-spots-input">
            <div class="tourist-spots-input-img" id="img-container">
              <span class="input-label">Imagem</span>
              <input
                type="file"
                class="img-input"
                id="img"
                name="img"
                accept="image/*"
                required
              />
            </div>
            <input
              type="text"
              id="tourist-spot-name"
              class="tourist-spots-input-title"
              placeholder="Titulo"
              required
            />
            <textarea
              name=""
              id="tourist-spot-description"
              cols="30"
              rows="10"
              class="tourist-spots-input-description"
              placeholder="Descrição"
              required
            ></textarea>
          </div>
          <button type="submit" class="tourist-spots-submit-button">
            Adicionar
          </button>
        </form>
      </section>

      <section class="tourist-spots-list">
        <h2 class="list-title">Pontos Turísticos</h2>
        <div class="list-cards"></div>
      </section>

    </main>

    <script src="./bundle.js"></script>
  </body>
</html>
