.tourist-spots {
  margin: 0 16px;

  @media screen and (min-width: $break-medium) {
    margin: 0 60px;
  }

  @media screen and (min-width: $break-large) {
    margin: 0 130px;
  }
}

// @media screen (min-width: $break-medium) {

//   }
