.tourist-spots-list {
  margin-bottom: 10px;

  .list-title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .list-items {
    max-width: 1176px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $break-medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 16px;
      margin-bottom: 180px;
    }
  }
}
