.tourist-spots-list {
  margin-bottom: 10px;

  .list-title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .list-cards {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;

    @media screen and (min-width: $break-small) {
      max-width: 1178px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 16px;
      margin-bottom: 180px;
    }
  }
}
